@font-face {
    font-family: "Poppins";
    src: url(../assets/fonts/Poppins/Poppins-Medium.ttf);
    font-weight: normal;
}

@font-face {
    font-family: "Poppins";
    src: url(../assets/fonts/Poppins/Poppins-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: "Poppins";
    src: url(../assets/fonts/Poppins/Poppins-Light.ttf);
    font-weight: 300;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --ash-gray: #ACBDBA;
    --azure: #CDDDDD;
    --blue: #33658A;
    --rose: #A599B5;
    --black: #1F2A32;

    --side-padding: 7rem;
}

html {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: var(--black);
}

body {
    background-color: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem var(--side-padding);
}

header .logo {
    font-size: 1.75rem;
    color: var(--black);
    text-decoration: none;
}


.logo-accent {
    color: var(--ash-gray);
}

header nav ul {
    list-style: none;
    font-size: 1.2rem;
    display: flex;
    gap: 2.5rem;
}

header nav a {
    color: var(--black);
    text-decoration: none;
    /* border: 2px solid currentColor; */
    padding: 0.75em 1.5em;
    transition: all 0.5s;
}

header nav a.contact-link {
    background-color: var(--azure);
    color: var(--black);
}

header nav a:not(.contact-link):hover {
    color: var(--blue);
    text-decoration: underline;
}


header nav a.contact-link:hover {
    color: white;
    background-color: var(--blue);
}


.hero-container {
    display: flex;
    padding: 4rem var(--side-padding);
    align-items: center;
}

.hero-container>* {
    flex: 1 0 0;
}

.hero-container__start h1 {
    font-size: 3.5rem;
    position: relative;
}

.hero-container .exclamation-mark {
    color: var(--ash-gray);
}

.hero-container .hero-intro {
    font-size: 1.5rem;
}

.hero-container__start .hello {
    --writing-animation: writing 8s ease infinite alternate;
}

.hero-container__start .hello::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 3px;
    background-color: var(--ash-gray);
    animation: blinking 1.3s ease infinite, var(--writing-animation);
}

.hero-container__start .hello::before {
    /* display: none; */
    background-color: #fff;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    animation: var(--writing-animation);
}

.hero-container__start h1 .hero-highlight {
    color: var(--blue);
}

.hero-container__start p {
    margin-top: 1.5rem;
    font-size: 1.1rem;
}


.hero-container__end img {
    width: 100%;
    transform: scaleX(-1);
}

.main-section {
    padding: 0 var(--side-padding);
}

.hero-container .highlight {
    color: var(--ash-gray);
}

.main-section h2 {
    font-size: 2.5rem;
    margin: 5rem 0 1.5rem;
}

.main-section__text {
    font-size: 1.1rem;
    border-left: 10px solid var(--ash-gray);
    padding: 1em;
}

.main-section .dot {
    color: var(--ash-gray);
}

.main-section__features {
    display: flex;
    margin: 3rem 0;
}

.main-section__features>* {
    flex: 1 0 0;
    text-align: center;
}

.main-section .heading {
    font-size: 1.5rem;
    font-weight: bold;
}

.main-section__features img {
    width: 100%;
}

.skip-button {
    font-size: 0.9rem;
    border-radius: 50%;
    position: fixed;
    bottom: 5%;
    right: 2%;
    padding: 0.75em 1em;
    color: var(--blue);
    transition: all 0.5s;
}

.skip-button:hover, .skip-button:focus-visible {
    background-color: var(--blue);
    color: white;
    outline: none;
}

.main-section .gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    margin: 3rem 0;
    /* row-gap: 1rem; */
}

.main-section .gallery .heading {
    margin: 1rem 0;
}

.main-section .gallery__item img {
    width: 80%;
}

.main-section .gallery__item:nth-child(3n+1) {
    border-right: 2px dashed var(--azure);
}


.main-section .gallery__item:nth-child(3n+3) {
    border-left: 2px dashed var(--azure);
}

footer {
    margin-top: 5rem;
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer a {
    color: var(--black);
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

@keyframes blinking {
    0%, 100% {
        opacity: 1;
    }

    25%, 75% {
        opacity: 0.6;
    }

    50% {
        opacity: 0.1;
    }
}

@keyframes writing {
    0% {
        transform: translateX(0);
    }

    10% {
        transform: translateX(1.1ch);
    }

    20% {
        transform: translateX(2.1ch);
    }

    30% {
        transform: translateX(2.5ch);
    }

    40% {
        transform: translateX(3ch);
    }

    50% {
        transform: translateX(4ch);
    }

    60%, 100% {
        transform: translateX(4.5ch);
    }
}